body {
  margin: 0px 0px 0px 0px;
  font-family: 'Montserrat Alternates', sans-serif;
  background-image: url("images/GreenCircuitry.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top;
}

#home {
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#title {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#register {
  width:25%;
  margin-left:30%;
}

footer {
  /* background-image: url("images/FenceFlowers.png");
  background-size: cover; */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  grid-area: footer;
  font-size: 17px;
  height:300px;
}

.footer-item {
  padding: 30px 20px 30px 20px;
}

.footer-item img {
  height:40px;
  width:40px;
}

#top {
  background-image: url("images/Gradient-Circuit.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position: top;
}

#bottom {

}

header {
  position:fixed;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-area: head;
  font-size: 17px;
  color: white;
  padding-left:15px;
  background-color:rgba(255,255,255,0.3);
}

#hamburger {
  display:none;
  height:30px;
}

.closed {
  display: flex;
}

.open {
  display: flex;
}


/* Account for Mobile Screens */
@media screen and (max-width: 44em) {
  #hamburger {
    display:inline-grid;
  }
  .flowerOutline {
    display: none;
  }
  header {
    position:fixed;
    left: 0;
    right: 0;
    grid-area: head;
    font-size: 17px;
    color: white;
    background-color:white;
    display: grid;
    grid-template-columns: 100%;
  }
  #links {
     justify-content: center;
  }
  .header-item {
    width:200px;
  }
  #title {
    padding-top:40px;
    width:100%;
  }
  .closed {
    display:none;
  }
  .open {
    display:block;
  }
}

#mountains {
  left: 0;
  right: 0;
  background-image: url("images/Mountains.png");
  height: 30em;
  background-size: cover;
}

#links {
    display:flex;
    justify-content: center;
    flex-direction: row;
}

.header-item:hover {
  box-shadow: 0 2px 0 #FFF inset;
  color: #000;
}

.header-item {
  padding: 30px 20px 30px 20px;
  color: rgb(226,143,143);
}

.flowerOutline {
  height: 75px;
    padding-top:5px;
}
a {
  text-decoration: none;
  color: inherit;
}

#content {
  display: grid;
  grid-template-rows:100%;
}

.content-item {
  padding-top: 100px;
  text-align: center;
}
.content-item p {
  font-family: 'Roboto', sans-serif;
}

.content-item h1 {
  font-size:60px;
}

#about-content {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}
#about-content h1 {
  text-align: center;
}

#faq-content {
  padding-left: 10px;
  padding-right: 10px;
}
#faqLabel {
  width:30%;
}

#faq-content ul li {
  list-style-type: none;
}

#faqColumns {
  padding:30px;
  display:grid;
  grid-template-columns: 40% 20% 40%;
}

#flower-column {
  background-image: url("images/HHFinalLogo.png");
  background-repeat: repeat-y;
  background-size: contain;
  height:100%;
}

.faq-flower{
  width:85%;
}

.faq-item:hover {
  cursor: pointer;
}
.faq-item {
  border-bottom: 5px white solid;
  width:100%;
}
.faq-item li {
  background-color: rgb(6,25,22);
  color: white;
  margin:auto;
  padding:30px;
}

.collapsed p {
  display:none;
}

.expanded {
  display:inline;
}

.expanded p {
  background-color: white;
  color: rgb(6,25,22);
  padding:30px;
}

#sponsors-content {
  color: rgb(244,55,86);
  padding-left: 10px;
  padding-right: 10px;
  background-color:white;
  height:100%;
}
#sponsors-content h1 {
  text-align: left;
}
