body {
  margin: 0px 0px 0px 0px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#home {
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  background-image: url("images/Clouds.png");
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

#title {
  width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#register {
  width:25%;
  margin-left:30%;
}

footer {
  background-image: url("images/FenceFlowers.png");
  background-size: cover;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  grid-area: footer;
  font-size: 17px;
  height:300px;
}

.footer-item {
  padding: 30px 20px 30px 20px;
}

.footer-item img {
  height:40px;
  width:40px;
}

#top {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(125,242,242,1) 100%);
}

#bottom {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(179,249,168,1) 0%, rgba(255,255,255,1) 100%);
}

header {
  position:fixed;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-area: head;
  font-size: 17px;
  color: white;
}

#hamburger {
  display:none;
}

/* Account for Mobile Screens */
@media screen and (max-width: 44em) {
  #hamburger {
    display:inline;
  }
  #logo {
    display: none;
  }
  header {
    position:fixed;
    left: 0;
    right: 0;
    grid-area: head;
    font-size: 17px;
    color: white;
    background-color:white;
    display: grid;
    grid-template-columns: 100%;
  }
  #links {
     justify-content: center;
  }
  .header-item {
    width:200px;
  }
  #title {
    width:100%;
  }
}

#mountains {
  left: 0;
  right: 0;
  background-image: url("images/Mountains.png");
  height: 30em;
  background-size: cover;
}

#links {
    display:flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header-item:hover {
  box-shadow: 0 2px 0 #FFF inset;
  color: #000;
}

.header-item {
  padding: 30px 20px 30px 20px;
  color: rgb(226,143,143);
}

#logo {
  height: 150px;
}
a {
  text-decoration: none;
  color: inherit;
}

#content {
  display: grid;
  grid-template-rows:100%;
}

.content-item {
  padding-top: 100px;
  text-align: center;
}
.content-item p {
  font-family: 'Roboto', sans-serif;
}

.content-item h1 {
  font-size:60px;
}

#about-content {
  color: rgb(155,8,68);
  padding-left: 10px;
  padding-right: 10px;
}
#about-content h1 {
  text-align: left;
}

#schedule-content {
  padding-left: 10px;
  padding-right: 10px;
}
#schedule-content h1 {
  text-align: right;
}

#prizes-content {
  padding-left: 10px;
  padding-right: 10px;
}
#prizes-content h1 {
  text-align: left;
}

#faq-content {
  color: rgb(10,76,12);
  padding-left: 10px;
  padding-right: 10px;
}
#faq-content h1 {
  text-align: right;
}
#faq-content ul li {
  list-style-type: none;
}
#faq-content ul {
  display: grid;
  grid-template-columns: 50% 50%;
}
.faq-item:hover {
  cursor: pointer;
}
.faq-item {
  border-bottom: 5px white solid;
  padding:10px;
}

.collapsed {
  background-color:red;
  height:20px;
  overflow: hidden;
}
.expanded {
  background-color:black;
  height:auto;
}

#sponsors-content {
  color: rgb(244,55,86);
  padding-left: 10px;
  padding-right: 10px;
}
#sponsors-content h1 {
  text-align: left;
}
